@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 229 84% 5%;
		--card: 0 0% 100%;
		--card-foreground: 229 84% 5%;
		--popover: 0 0% 100%;
		--popover-foreground: 229 84% 5%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.5rem;

		--spacing-app: theme(spacing[4]);

		/* OLD */

		--text-subtle: theme(colors.neutral[600]);
		--text-strong: theme(colors.neutral[950]);
		--text-inactive: theme(colors.neutral[500]);

		--bg-subtle: theme(colors.neutral.white);
		--bg-base: theme(colors.neutral[50]);
		--bg-strong: theme(colors.neutral[100]);

		--border-subtle: theme(colors.neutral[100]);
		--border-base: theme(colors.neutral[200]);
		--border-strong: theme(colors.neutral[300]);

		--icon-subtle: theme(colors.neutral[400]);
		--icon-base: theme(colors.neutral[600]);
		--icon-strong: theme(colors.neutral[950]);

		/* --weight-buttons: theme(fontWeight[medium]);
		--weight-headings: theme(fontWeight[bold]);
		--weight-paragraphs: theme(fontWeight[normal]); */

		--text-h1: theme(fontSize[5xl]);
		--text-h2: theme(fontSize[3xl]);
		--text-p1: theme(fontSize[xl]);
		--text-p5: theme(fontSize[xs]);
		--text-b1: theme(fontSize[base]);

		--line-h1: theme(lineHeight[5xl]);
		--line-h2: theme(fontSize[3xl]);
		--line-p1: theme(fontSize[xl]);
		--line-p5: theme(fontSize[xs]);
		--line-b1: theme(fontSize[base]);
	}

	@media screen(md) {
		:root {
			--spacing-app: theme(spacing[6]);
			/* OLD */
			--text-h1: theme(fontSize[6xl]);
			--text-h2: theme(fontSize[4xl]);
			--text-p1: theme(fontSize[xl]);
			--text-p5: theme(fontSize[xs]);
			--text-b1: theme(fontSize[base]);

			--line-h1: theme(lineHeight[6xl]);
			--line-h2: theme(fontSize[4xl]);
			--line-p1: theme(fontSize[xl]);
			--line-p5: theme(fontSize[xs]);
			--line-b1: theme(fontSize[base]);
		}
	}

	@media screen(lg) {
		:root {
			--spacing-app: theme(spacing[8]);
			/* OLD */
			--text-h1: theme(fontSize[7xl]);
			--text-h2: theme(fontSize[5xl]);
			--text-p1: theme(fontSize[xl]);
			--text-p5: theme(fontSize[xs]);
			--text-b1: theme(fontSize[base]);

			--line-h1: theme(lineHeight[7xl]);
			--line-h2: theme(fontSize[5xl]);
			--line-p1: theme(fontSize[xl]);
			--line-p5: theme(fontSize[xs]);
			--line-b1: theme(fontSize[base]);
		}
	}

	.dark {
		--background: 229 84% 5%;
		--foreground: 210 40% 98%;
		--card: 229 84% 5%;
		--card-foreground: 210 40% 98%;
		--popover: 229 84% 5%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
	}
}
